<ion-header>
  <ion-toolbar>
    <ion-title>{{ date | date:'MMMM yyyy' }}</ion-title>
    <ion-buttons slot='start' (click)='cancel()'>
      <ion-button type="button" color="medium">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>Add Expense</ion-title>
    <ion-buttons slot='end'>
      <ion-button type="button" color="medium" (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [formGroup]='expenseForm'>
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input maxlength="20" placeholder="Enter the expense's name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="pricetag="></ion-icon>
    <ion-select placeholder='Choose of category'>
      <ion-select-option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </ion-select-option>
    </ion-select>
    <ion-button slot='end'>
      <ion-icon slot='Icon-only' name='add'></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="cash"></ion-icon>
    <ion-input type="number" inputmode="decimal" placeholder='Enter the amount in CHF' step='0.10'></ion-input>
    <ion-note slot='end'>CHF</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon slot='start' name='calendar'></ion-icon>
    <ion-datetime-button datetime='datetime'></ion-datetime-button>
    <ion-modal [keepContentsMounted]='true'>
      <ng-template>
        <ion-datetime> presentation='data' id= 'datetime'></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
</ion-content>

<ng-container *ngSwitchCase="null">
  <ion-item *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
    <ion-label>
      <ion-skeleton-text [animated]="true" style="..."></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ng-container>



<ion-list>
  <ion-item (click)='openModal()' button='' detail="true">
    <ion-label>eat outside</ion-label>
  </ion-item>
  <ion-item (click)='openModal()' button='' detail="true">
    <ion-label>food products</ion-label>
  </ion-item>
  <ion-item (click)='openModal()' button='' detail="true">
    <ion-label>entertainment</ion-label>
  </ion-item>
  <ion-item (click)='openModal()' button='' detail="true">
    <ion-label>insurance</ion-label>
  </ion-item>
  <ion-item (click)='openModal()' button='' detail="true">
    <ion-label>car</ion-label>
  </ion-item>
</ion-list>


